body {
  width: 800px;
  height: auto;
}

header {
  background-color: #2D2D2D;
  overflow: hidden;
}

header a {
  text-decoration: none;
  color: white;
}

#site-nav li {
  float: left;
  padding: 20px;
  font-size: 1.5em;
}

#social-nav {
  float: right;
}

#social-nav li {
  display: inline-block;
  padding: 15px 20px;
  font-size: 2em;
}

#site-nav a li {
  color: #878787;
  border-top: 5px solid black;
  text-transform: uppercase;
}

#site-nav a li.active {
  color:white;
  border-top: 5px solid #E00000;
}

#banner {
  position: relative;
  overflow: hidden;
  height: 500px;
}

#banner aside {
  position: absolute;
  top: 0;
  color: white;
  background-color: rgba(58, 58, 58, 0.7);
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  padding: 50px 20px;
}

aside h2 {
  font-size: 2em;
  text-align: center;
}

.hline {
  height: 2px;
  background-color: white;
  width: 70%;
  margin: 10px auto 15px;
}

aside p {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 20px;
}

.red-button {
  margin: auto;
  width: 75%;
  border: none;
  background-color: #e00000;
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  display: block;
}

#slider-circles {
  position: absolute;
  button: 20px
}

#slider-circles .circle {
  border-radius: 100%;
  border: 2px solid white;
  display: inline-block;
  width: 50px;
  height: 50px;
}

#content {
  display: inline;
}
